.filters-summary {
  display: grid;
  grid-template-areas: "title button" "filters filters";
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.5rem;

  .title {
    font-weight: 900;
  }

  button {
    background-color: var(--color-danger);
    color: var(--color-danger-opposite);

    padding: 0.25rem 0.5rem;

    border: none;
    border-radius: var(--border-radius);

    font-size: var(--fz-300);

    cursor: pointer;
  }
}
